.workflow-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.create-workflow-title {
    font-size: 26px;
    margin-bottom: 60px;
}

input {
    font-family: 'Urbanist', sans-serif;
}

input[type=text] {
    padding: 10px 60px;
    font-size: 16px;
    text-align: center;
    border-radius: 32px;
    background-image: linear-gradient(var(--tertiary-color), var(--tertiary-color)), linear-gradient(286.17deg, #5D5FEF 0%, #71E3BB 100%);
    border: double 3px transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.file-upload-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-block: 25px;
    color: #999;
    width: 760px;
}

.file-upload-container label {
    font-size: 20px;
    margin-bottom: 5px;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=file] {
    margin-inline: 24px;
    height: 90px;
    font-size: 16px;
    text-align: center;
    border-radius: 32px;
    background-image: linear-gradient(var(--tertiary-color), var(--tertiary-color)), linear-gradient(286.17deg, #5D5FEF 0%, #71E3BB 100%);
    border: double 3px transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
}

button.submit-button {
    display: flex;
    align-items: center;
}

button.submit-button > img {
    margin-right: 10px;
}
